---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: minecraft-gtnh
spec:
  replicas: 1
  revisionHistoryLimit: 2
  strategy: { type: Recreate }

  template:
    spec:
      containers:
        - name: minecraft
          image: minecraft-gtnh
          env:
            - { name: INIT_MEMORY, value: 4G }
            - { name: MAX_MEMORY, value: 10G }
            - { name: EULA, value: 'true' }
            - { name: DIFFICULTY, value: '2' }
            - { name: VIEW_DISTANCE, value: '32' }
            - { name: MOTD, value: 'Autism land' }
          ports:
            - { name: minecraft, containerPort: 25565 }
          volumeMounts:
            - { name: data, mountPath: /minecraft/World, subPath: World }
            - { name: data, mountPath: /minecraft/config/JourneyMapServer, subPath: JourneyMapServer }
            - { name: data, mountPath: /minecraft/logs, subPath: logs }
            - { name: backups, mountPath: /minecraft/backups }
            - { name: provision-players, mountPath: /minecraft/whitelist.json, subPath: whitelist.json, readOnly: true }
            - { name: provision-players, mountPath: /minecraft/ops.json, subPath: ops.json, readOnly: true }
          resources:
            requests: { cpu: 1000m, memory: 4Gi }
            limits: { cpu: 7000m, memory: 11Gi }

      volumes:
        - name: data
          persistentVolumeClaim: { claimName: minecraft-data-pvc }
        - name: backups
          persistentVolumeClaim: { claimName: minecraft-backups-pvc }
        - name: provision-players
          configMap:
            name: minecraft-gtnh-cm
