---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
  - pairs:
      app.kubernetes.io/part-of: immich
      app.kubernetes.io/managed-by: kustomize
    includeTemplates: true

namespace: immich
resources:
  - namespace.yml
  - pv.yml
  - immich-server
  - immich-machine-learning
  - redis
  - postgres
  - ingress.yml

images:
  - name: immich-server
    newName: ghcr.io/immich-app/immich-server
    newTag: v2.5.5
  - name: immich-machine-learning
    newName: ghcr.io/immich-app/immich-machine-learning
    newTag: v2.5.5
  - name: redis
    newName: docker.io/valkey/valkey
    newTag: 9@sha256:546304417feac0874c3dd576e0952c6bb8f06bb4093ea0c9ca303c73cf458f63
  - name: postgres
    newName: ghcr.io/immich-app/postgres
    newTag: 14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23

configMapGenerator:
  - name: immich-server-config
    files:
      - immich.json

secretGenerator:
  - name: immich-server-credentials
    options:
      disableNameSuffixHash: true
    envs:
      - immich-database-credentials.env
  - name: immich-ml-credentials
    options:
      disableNameSuffixHash: true
    envs:
      - immich-database-credentials.env
  - name: postgres-credentials
    options:
      disableNameSuffixHash: true
    envs:
      - immich-database-credentials.env
